@import "mixin/mixin";
//清除浮动
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
//全局
*{
  margin:0;padding: 0;
}
body{max-width: 640px;margin: 0 auto}
a,input,img,button{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
ul,li{list-style: none;}
.container{margin-top: 1.8rem;}





